*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Formular';
    src: url(../font/Formular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Formular';
    src: url(../font/Formular-Black.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Formular';
    src: url(../font/Formular-Medium.ttf);
    font-weight: 500;
}
.comment{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2%;
    width: 30%;
    margin: auto;
    gap: 2vh;
}
.comment1{
    width: 48%;
}
.comment1>input{
    margin-top: 5%;
    padding-top: 3%;
    width: 100%;

}
.comment2>textarea{
    display: inline-block;
    padding-top: 3%;
    width: 305%;
    height: 170%;
}
.color{
    background-color: rgb(83, 21, 133);
    border-radius: 2%;
    text-align: center;
    width: 26.2%;
    height: 5%;
    margin-left: 37%;
}
.color>h2{
    color: white;
}
.footer1{
    background-color: rgb(28, 30, 31);
    height: 60%;
}
.gorizont>h2{
    color: white;
}
